@{
    ViewBag.Title = "Create";
}

<h2>見積商品選択</h2>

<div class="form-inline">
    @Html.AutoCompleteBox("businesspartner", "販売先")
    @Html.AutoCompleteBox("helper", "販売先担当者")
</div>

@Html.Partial("_ProductSelecter")

@section scripts{
    <script>
        $(function () {
            $('#autocompletebusinesspartner').autocomplete({
                source: '/MasterData/BusinessPartnerName'
            });
            $('#autocompletehelper').autocomplete({
                source: '/MasterData/HelperName'
            });
            $('#autocompletemanufacturer').autocomplete({
                source: '/MasterData/ManufacturerName'
            });

            $('button[name="search"]').click(function (e) {
                let str = [$('#autocompletemanufacturer').val(), $('#searchtext').val()];
                //初期商品データ描画
                $('#result').load('/MasterData/ProductContent', {
                    manufacturer: str[0], keywords: str[1], page: 1,
                    viewName: '_ProductSelecterContent'
                });
                //ページネーション取得Url組み立て
                let url = '@Url.Action("ProductRowCount", "MasterData")';
                const obj = {
                    manufacturer: str[0], keywords: str[1]
                };
                url = url + '?' + $.param(obj);
                //ページネーション描画
                pagination(url);
            });

            //データ属性が指定してあるボタンでページを更新
            $(document).on('click', '.btn', function () {
                const str = [$('#autocompletemanufacturer').val(), $('#searchtext').val()];
                const page = $(this).attr('data-page');
                $('#result').load('/MasterData/ProductContent', {
                    manufacturer: str[0], keywords: str[1], page: page,
                    viewName: '_ProductSelecterContent'
                });
            });

            //次へボタンを押してデータ属性を更新
            $(document).on('click', '#Next', function () {
                let data = $('#pagiNation').children().eq(1).attr('data-page');
                let array = new Array(8);
                for (var i = 0; i < 8; i++) {
                    array[i] = Number(data) + i + 8;
                }
                for (var i = 1; i < 9; i++) {
                    $('#pagiNation').children().eq(i).attr('data-page', array[i - 1]);
                    $('#pagiNation').children().eq(i).text(array[i - 1]);
                }
            });

            //前へボタンを押してページネーションを更新
            $(document).on('click', '#Prev', function () {
                let data = $('#pagiNation').children().eq(8).attr('data-page');
                console.log(data);
                if (Number(data) == 8 || Number(data) == 16) {
                    let array = new Array(8);
                    for (var i = 0; i < 8; i++) {
                        array[i] = i + 1;
                    }
                    for (var i = 1; i < 9; i++) {
                        $('#pagiNation').children().eq(i).attr('data-page', array[i - 1]);
                        $('#pagiNation').children().eq(i).text(array[i - 1]);
                    }
                }
                else {
                    let array = new Array(8);
                    data = Math.floor((Number(data) / 8)) - 1;
                    for (var i = 0; i < 8; i++) {
                        array[i] = (data * 8 + i) - 7;
                    }
                    for (var i = 1; i < 9; i++) {
                        $('#pagiNation').children().eq(i).attr('data-page', array[i - 1]);
                        $('#pagiNation').children().eq(i).text(array[i - 1]);
                    }
                }
            })

            //テーブルオブジェクトから選択されたノードを取得
            $('button[name="send"]').on('click', function (e) {
                let length = $('#producttable tbody').children().length;
                let list = new Array();
                for (var i = 1; i < length; i++) {
                    if ($('table tr').eq(i).children().eq(3).children().prop('checked') == true) {
                        list.push($('table tr').eq(i).children().eq(0).text());
                    }
                }
                let str = [$('#autocompletebusinesspartner').val(), $('#autocompletehelper').val(),
                            $('#username').text()];
                $.post('/Quotation/Create', {
                    customer: str[0], helper: str[1], staff: str[2].replace('こんにちは、', '').replace('さん', ''), products_Ids: list
                });
                //商品検索結果の削除
                $('#producttable').remove();
            });
        });
    </script>
}
