@model IEnumerable<Target19_Relationship.Models.Views.BeforeSubmittingQuotation>

@{
    ViewBag.Title = "UnitPriceSetting";
}

<h2>見積作成</h2>

@using (Html.BeginForm("UnitPriceSetting", "Quotation",FormMethod.Post, new { id = "content" }))
{
    <div id="result"></div>

    <input type="submit" value="入力反映" class="btn btn-primary form-control" id="send" />
    <input type="submit" value="見積書発行" class="btn btn-primary form-control" id="publish" />
}

@section scripts{
    <script>
        $(window).on('load', function () {
            var loginUser = $('#username').text();
            loginUser = loginUser.replace('こんにちは、', '').replace('さん', '');
            //初期値の表示
            $('#result').load('/Quotation/UnitPriceSettingContent', {
                staffEmailAddress: loginUser
            });
        });
        $('#publish').on('click', function () {
            $('#content').attr('action', '/Quotation/PublishQuotation');
        });
    </script>
}
