@model IEnumerable<Target19_Relationship.Models.Details.DetailBusinessPartnerEmailAddress>

@{
    ViewBag.Title = "BusinessPartnerEMailAddressList";
}

<h2>取引先Eメール</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="form-group">
    <label for="initial">ふりがな頭文字</label>
    <div class="btn-group" data-toggle="buttons" id="initial">
        <label class="btn btn-default">
            <input type="radio" name="radio-group" autocomplete="off" value="あ" />あ
        </label>
        <label class="btn btn-default">
            <input type="radio" name="radio-group" autocomplete="off" value="か" />か
        </label>
        <label class="btn btn-default">
            <input type="radio" name="radio-group" autocomplete="off" value="さ" />さ
        </label>
        <label class="btn btn-default">
            <input type="radio" name="radio-group" autocomplete="off" value="た" />た
        </label>
        <label class="btn btn-default">
            <input type="radio" name="radio-group" autocomplete="off" value="な" />な
        </label>
        <label class="btn btn-default">
            <input type="radio" name="radio-group" autocomplete="off" value="は" />は
        </label>
        <label class="btn btn-default">
            <input type="radio" name="radio-group" autocomplete="off" value="ま" />ま
        </label>
        <label class="btn btn-default">
            <input type="radio" name="radio-group" autocomplete="off" value="や" />や
        </label>
        <label class="btn btn-default">
            <input type="radio" name="radio-group" autocomplete="off" value="ら" />ら
        </label>
        <label class="btn btn-default">
            <input type="radio" name="radio-group" autocomplete="off" value="わ" />わ
        </label>
    </div>
    <button type="submit" name="search">検索</button>
</div>

<div id="result"></div>

<div id="pageList"></div>

@section scripts{
    <script>
        $(function () {
            $('button[name="search"]').click(function (e) {
                const str = $('input:radio[name="radio-group"]:checked').val();
                    $('#result').load('/MasterData/BusinessPartnerEmailAddressContent', { initial: str });
            })
        })
    </script>
}
