
@{
    ViewBag.Title = "FinancialInstitutionList";
}

<h2>金融機関</h2>

<div id="result"></div>

<div id="pagiNation"></div>

@section scripts{
    <script>
        $(window).on('load', function () {
            //初期値の表示
            $('#result').load('/MasterData/FinancialInstitutionContent', {
                page: 1
            });

            let str = '@Url.Action("FinancialInstitutionRowCount", "MasterData")';
            //データ個数(テーブル行数)の獲得
            $.getJSON(str, function (data) {
                if (Math.floor(data.status % 8) == 0) {
                    var pageNo = Array(Math.floor(data.status / 8));
                }
                else {
                    var pageNo = Array(Math.floor(data.status / 8) + 1);
                }

                if (pageNo.length <= 8) {
                    for (var i = 0; i < pageNo.length; i++) {
                        var j = i + 1;
                        pageNo[i] = '<button type=\"button\" class=\"btn btn-default\" data-page=\"' + j + '\">' + j + '</button>'
                    };
                    var pagestring = pageNo.join('');
                    $('#pagiNation').html(pagestring);
                }
                else {
                    //ページ数が9以上のときの処理
                    for (var i = 0; i < 9; i++) {
                        var j = i + 1;
                        pageNo[i] = '<button type=\"button\" class=\"btn btn-default\" data-page=\"' + j + '\">' + j + '</button>'
                    };
                    pageNo.unshift('<button type=\"button\" class=\"btn btn-default\" id=\"Prev\">&laquo;</button>');
                    pageNo.push('<button type=\"button\" class=\"btn btn-default\" id=\"Next\">&raquo;</button>');
                    pageNo.push('<button type=\"button\" class=\"btn btn-default\" data-page=\"' + pageNo.length + '\">' + pageNo.length + '</button>')
                    var pagestring = pageNo.join('');
                    $('#pagiNation').html(pagestring);
                }
            });
        });

        //データ属性が指定してあるボタンでページを更新
        $(document).on('click', '.btn', function () {
            let page = $(this).attr('data-page');
            $('#result').load('/MasterData/FinancialInstitutionContent', {
                page: page
            });
        });

        //次へボタンを押してデータ属性を更新
        $(document).on('click', '#Next', function () {
            var data = $('.btn').eq(1).data('page');
            $('.btn').eq(1).attr('data-page', data + 8);
            $('.btn').eq(1).text(data + 8);
        })
    </script>
}
