@model IEnumerable<Target19_Relationship.Models.Tables.Manufacturer>
@{
    ViewBag.Title = "ManufacturerList";
}

<h2>メーカー</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="form-inline">
    <div class="input-group">
    <input type="text" name="search" class="form-control" placeholder = "ふりがな検索" id ="searchtext" />
    </div>
<button type="submit" name="search" class="btn btn-default">検索</button>
</div>

<div id="result"></div>

<div id="pageList"></div>

@section scripts{
    <script>
        $(function () {
            $('button[name="search"]').click(function (e) {
                const str = $('#searchtext').val();
                    $('#result').load('/MasterData/ManufacturerContent', { initial: str });
            })
        })
    </script>
}
