@model IEnumerable<Target19_Relationship.Models.Tables.Manufacturer>
@{
    ViewBag.Title = "ManufacturerList";
}

<h2>メーカー</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="form-inline">
    @Html.SearchBox("ふりがな検索")
</div>

<div id="result"></div>

<div id="pageList"></div>

@section scripts{
    <script>
        $(function () {
            $('button[name="search"]').click(function (e) {
                const str = $('#searchtext').val();
                $('#result').load('/MasterData/ManufacturerContent', { initial: str });
            })
        })
    </script>
}
