@model IEnumerable<Target19_Relationship.Models.Details.DetailProduct>
@{
    ViewBag.Title = "ProductList";
}

<h2>商品</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="form-inline">
    @Html.AutoCompleteBox("manufacturer", "メーカー")
    @Html.SearchBox("キーワード検索")
    <button type="submit" name="search" class="btn btn-default">検索</button>
</div>

<div id="result"></div>

<div id="pageList"></div>

@section scripts{
    <script>
        $(function () {
            $('button[name="search"]').click(function (e) {
                let str = [$('#autocompletemanufacturer').val(), $('#searchtext').val()];
                $('#result').load('/MasterData/ProductContent', { manufacturer: str[0], keywords: str[1] });
            });
        });
    </script>
}
