
<div class="btn-group" role="group">
    <button type="button" class="btn btn-default" id="1">1</button>
    <button type="button" class="btn btn-default" id="2">2</button>
    <button type="button" class="btn btn-default" id="3">3</button>
    <button type="button" class="btn btn-default" id="4">4</button>
</div>
